h3 {
  color: #7A200D;
  font-size: 150%;
  font-variant: small-caps;
  margin: 0px;
  margin-top: 2px;
  text-decoration: underline;
}
p {
  color: black;
  text-indent: 2em;
}
table {
  border-collapse: collapse;
  width: 100%;
}
th {
  background-color:#4CAF50;
  color: white;
}
td {
  text-align: center;
}
tr:nth-child(odd) {
  background-color: #f2f2f2
}